

@{
	Layout = null;
}

@Scripts.Render("~/bundles/jquery")

<head>


	<!--Angular -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!--- Google fonts --->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


	<!--- CSS --->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="/Content/LogIn/LogIn.css" rel="stylesheet" />
	<!-- 	<link rel="stylesheet" href="/Content/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css">-->
	<link rel="stylesheet" href="/Content/Filterable-Country-Picker-niceCountryInput/niceCountryInput.css">

	<!--- JS --->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
	<!--<script src="/Content/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>-->
	<script src="/Content/Filterable-Country-Picker-niceCountryInput/niceCountryInput.js"></script>

	<!-- A DevExtreme library -->
	<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.4/js/dx.all.js"></script>
	<style>
		#tagBoxContainer {
			width: 62%;
			margin-left: 19%;
		}
		.dx-scrollable-wrapper {
			background-color: white;
		}
		.dx-selectbox-popup {
			display: none !important;
		}
		
	</style>

	<style>
		:root {
			--loginLabelBackgroundColor: #2c3338;
		}

		.login label, .login input[type='text'], .login input[type='number'], .login input[type='email'], .login input[type='password'], .login input[type='submit'] {
			border-radius: var(--loginBorderRadus);
			padding: 0.5rem;
		}
	</style>


</head>



<center style=" font-size: 33px;color: white;">Trainer Sign Up</center>



<body class="align" ng-app="signUp" ng-controller="SignUpctrlForVlidity">

	<div class="grid">

		@using (Html.BeginForm("Create", "Trainer",
			new { ReturnUrl = ViewBag.ReturnUrl },
			FormMethod.Post, new { @class = "form login" }))
		{
		<form class="form login" role="form" data-toggle="validator">

			<div class="form-group">
				<div class="form__field">

					<label><i class="material-icons">email</i></label>
					<input ng-change="CheckForValidity()" ng-model="EmailInputValue" type="email" name="email" class="form__input" placeholder="Email" required>
				</div>
			</div>



			<div class="form__field">
				<label><i class="material-icons">https</i></label>
				<input type="password" name="password" class="form__input" placeholder="Password" id="inputPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required title="Password must be UpperCase, LowerCase and Number">
			</div>

			<div class="form__field">
				<label><i class="material-icons">perm_identity</i></label>
				<input type="text" name="FirstName" class="form__input" placeholder="First Name" pattern=".{3,10}" required title="First name must be 3 to 10 characters">
			</div>

			<div class="form__field">
				<label><i class="material-icons">perm_identity</i></label>
				<input type="text" name="LastName" class="form__input" placeholder="Last Name" pattern=".{3,10}" required title="Last name must be3 to 10 characters">
			</div>


			<div class="form__field">
				<label><i class="material-icons">face</i></label>
				<input type="number" name="Age" class="form__input" placeholder="Age" min="12" max="95" required>
			</div>


			<div class="form__field">
				<label>
					<i class="material-icons">
						attach_money
					</i>
				</label>
				<input type="number" name="Price" class="form__input" placeholder="Price Per Practice in Dolars $" required>
			</div>





			<div class="form__field">
				<label><i class="material-icons">accessibility</i></label>
				<p style="padding-left:8px" type="text" name="Gender" class="form__input">Gender</p>

				<label class="radio-inline"><input type="radio" name="Gender" value="Male">Male</label>
				<label class="radio-inline"><input type="radio" name="Gender" value="Female">Female</label>

			</div>


		
			@*<div class="row">
				<p style="padding-left:8px; color:white;">Your Sports</p>
				<div name="FavoriteSports"  id="tagBoxContainer" ng-model="tagBox"></div>

			</div>*@


			@*<div class="form__field">
				<label><i class="material-icons">notes</i></label>
				<input type="text" name="Description" class="form__input" style="height: 15%;" placeholder="Description">
			</div>*@





			<input style="width: 100%;background-color: cadetblue;margin-left: 6%;" type="submit" value="Sign Up">




		</form>
		}



		<p class="text--center" style="    color: #737373;">Already a member? <a href="/TrainerLogin/index">Login now</a> <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/icons.svg#arrow-right"></use></svg></p>

	</div>

	<svg xmlns="http://www.w3.org/2000/svg" class="icons"><symbol id="arrow-right" viewBox="0 0 1792 1792"><path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293H245q-52 0-84.5-37.5T128 1024V896q0-53 32.5-90.5T245 768h704L656 474q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z" /></symbol><symbol id="lock" viewBox="0 0 1792 1792"><path d="M640 768h512V576q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28H416q-40 0-68-28t-28-68V864q0-40 28-68t68-28h32V576q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z" /></symbol><symbol id="user" viewBox="0 0 1792 1792"><path d="M1600 1405q0 120-73 189.5t-194 69.5H459q-121 0-194-69.5T192 1405q0-53 3.5-103.5t14-109T236 1084t43-97.5 62-81 85.5-53.5T538 832q9 0 42 21.5t74.5 48 108 48T896 971t133.5-21.5 108-48 74.5-48 42-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-320-893q0 159-112.5 271.5T896 896 624.5 783.5 512 512t112.5-271.5T896 128t271.5 112.5T1280 512z" /></symbol></svg>





</body>

<script>
	$(function () {
		$("#tagBoxContainer").dxTagBox({
			dataSource: "http://localhost:58948/api/FavoriteSports",
			//valueExpr: 'id',
			displayExpr: 'DropdownData',
			searchEnabled: true
		});
	});
</script>