@model IEnumerable<SocialWorkout.Models.EventLine>

@{
	Layout = "~/Views/Shared/_DashBoardLayout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Events For This Week</title>
</head>

<style>

	i.nc-icon.nc-diamond {
		color: #66615B !important;
	}

	i.nc-icon.nc-bank {
		color: #66615B !important;
	}

	p {
		color: #66615B !important;
	}

	i.nc-icon.nc-bell-55 {
		color: red !important;
	}
</style>





<body>

	<header>
		<div class="container">

			<div class="jumbotron" style="     background-image: url(/Content/Images/events-background.jpg);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat; background-image:url(/Content/Images/events-background.jpg)">
				<center>
					<h2 style="font-size: 81px;color: aliceblue;font-family: -webkit-pictograph;"><b>E</b>vents</h2>
				</center>
				<p style="color:aliceblue !important; text-align:center;">
					In the event page you can see who is register to the weekly events

				</p>
			</div>
	</header>

	<p>

	</p>
	<table class="table">
		<tr>
			<th>
				The players who attend to play this week
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.line)
				</td>
				<td></td>
			</tr>
		}

	</table>





</body>
</html>
