
@{
	ViewBag.Title = "friends";
	Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<head>

	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



	<style>
		i.nc-icon.nc-diamond {
			color: red !important;
		}

		i.nc-icon.nc-bank {
			color: #66615B !important;
		}

		p {
			color: #66615B !important;
		}
	</style>
	<link href="~/Content/MailBox.css" rel="stylesheet" />

</head>

<h2>Favorite Friends List <i class="nc-icon nc-favourite-28" style="
	color: red;
"></i> </h2> 
<body>

	<div class="tab-content">
		<div class="tab-pane active" id="inbox">

			<div class="container">
				<div class="content-container clearfix">
					<div class="col-md-12">




						<ul class="mail-list">


							<li class="abc">



							</li>

						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="container">
		<button id="clear" class="btn btn-primary"> Clear friends</button>
	</div>

</body>



<script>


	for (var i = 0; i < sessionStorage.length; i++) {

		$(".abc").append("<p><a href=details/" + sessionStorage.key(i) + ">" + sessionStorage.getItem(sessionStorage.key(i)) + "</a></p>");
	
	}

</script>

<script>

	var x = document.getElementById("clear");

	x.addEventListener("click", function () {

		sessionStorage.clear();
		location.reload();

	});



</script>