
@{
	ViewBag.Title = "MailBoxEmpty";
	Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<head>
	<style>
		i.nc-icon.nc-diamond {
			color: #66615B !important;
		}

		i.nc-icon.nc-bank {
			color: #66615B !important;
		}


		i.nc-icon.nc-chat-33 {
			color: red !important;
		}

		p {
			color: #66615B !important;
		}

		.deleteButton {
			padding: 0 !important;
		}
	</style>
</head>

<h2>no messages to show</h2>

