
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Geolocation</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<style>
		 /* Always set the map height explicitly to define the size of the div
		* element that contains the map. */
		#map {
			height: 500%;
			width: 40%;
			position: unset !important;
			
		}
		 /* Optional: Makes the sample page fill the window. */

	</style>
</head>
<body>

	<div id="map"></div>
	<script src="~/Scripts/Maps/CurrentLocation.js"></script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6Zmi60-AGfLtqBgbMSsbEeyVlLWJM_s&callback=initMap">
	</script>
</body>
</html>
